/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

*{
    box-sizing: border-box;
}

html {
    line-height: 14px;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
    background-color: #FAFCFF;
}


/* Sections
     ========================================================================== */


/**
   * Remove the margin in all browsers.
   */

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
}


/**
   * Render the `main` element consistently in IE.
   */

main {
    display: block;
}


/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}


/* Grouping content
     ========================================================================== */


/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */

hr {
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}


/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */

pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}


/* Text-level semantics
     ========================================================================== */


/**
   * Remove the gray background on active links in IE 10.
   */

a {
    background-color: transparent;
    text-decoration: none;
    color: #000;
}


/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */

abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
    /* 2 */
}


/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */

b,
strong {
    font-weight: bolder;
}


/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */

code,
kbd,
samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}


/**
   * Add the correct font size in all browsers.
   */

small {
    font-size: 80%;
}


/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}


/* Embedded content
     ========================================================================== */


/**
   * Remove the border on images inside links in IE 10.
   */

img {
    border-style: none;
}


/* Forms
     ========================================================================== */


/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}


/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */

button,
input {
    /* 1 */
    overflow: visible;
}


/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */

button,
select {
    /* 1 */
    text-transform: none;
}


/**
   * Correct the inability to style clickable types in iOS and Safari.
   */

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}


/**
   * Remove the inner border and padding in Firefox.
   */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}


/**
   * Restore the focus styles unset by the previous rule.
   */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}


/**
   * Correct the padding in Firefox.
   */

fieldset {
    padding: 0.35em 0.75em 0.625em;
}


/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */

legend {
    box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
}


/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */

progress {
    vertical-align: baseline;
}


/**
   * Remove the default vertical scrollbar in IE 10+.
   */

textarea {
    overflow: auto;
}


/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}


/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}


/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */

[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}


/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}


/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */

 ::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}


/* Interactive
     ========================================================================== */


/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */

details {
    display: block;
}


/*
   * Add the correct display in all browsers.
   */

summary {
    display: list-item;
}


/* Misc
     ========================================================================== */


/**
   * Add the correct display in IE 10+.
   */

template {
    display: none;
}


/**
   * Add the correct display in IE 10.
   */

[hidden] {
    display: none;
}

ul{
    padding-left: 0;
    margin: 0;
    list-style-type: none;
}

hr{
    margin: 0;
    opacity: 10%;
    border: none;
    background-color: #000;
}


















/* НАВИГАЦИЯ */

.header{
    position: relative;

    width: 1350px;
    margin-right: auto;
    margin-left: auto;
}

.wrap{
    display: flex;
}

.logo{
    display: flex;
    justify-content: space-between;
}

.logo__icon{
    width: 40px;
    height: 40px;
    margin-top: 10px;
}

.logo__text{
    color: #000;
    margin-top: 23px;
    margin-left: 6px;
}

.navigation{
    padding-top: 23px;
    margin-left: 285px;
}

.menu__list{
    display: flex;
    justify-content: space-between; 
}

.menu__link{
    padding-bottom: 24px;
    padding-top: 24px;
}

.menu__link2{
    color: green;
}

.menu__item2{
    min-width: 35px;
}

.menu__item6{
    min-width: 62px;
}

.menu__item + .menu__item{
    margin-left: 47.8px;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

.menu__item:hover{
    animation: bounce 1s;
}

.menu__link:hover{
    color:red;
}

.cart{
    display: flex;
    justify-content: space-between;
    margin-left: 81px;
}

.cart__icon{
    width: 22;
    height: 18px;
    margin-top: 21.32px;
}

.cart__circle {
    margin-top: 22.5px;
    width: 15px;
    height: 15px;
    -webkit-border-radius: 7.5px;
    -moz-border-radius: 7.5px;
    border-radius: 7.5px;
    background: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.1);

    text-align: center;
}

.cart__circle-text{
    font-size: 8px;
}

.cart__text{
    margin-top: 23px;
    margin-left: 3px;
}

.language{
    display: flex;
    justify-content: space-between;
    margin-left: 52px;
}

.language__menu_img-ru{
    width: 16px;
    height: 11px;
    margin-top: 24px;
}

.language__text{
    margin-top: 23px;
    margin-left: 5px;
}

.cabinet__link{
    display: flex;
    margin-left: 14px;
}

.cabinet__text{
    margin-top: 23px;
}

.cabinet__triangl{
    margin-top: 27px;
    margin-left: 3px;
    border: 4px solid transparent; 
    border-top: 7px solid #000;
}

.header__line {
    margin-top: 10px;
    margin-bottom: 0px;
    max-width: 1345px;
    height: 1px;

    z-index: 2;
}

#header__cabinet_dropdown-menu{
    position: absolute;

    display: none;

    width: 104px;
    height: 40px;

    border: none;
    -webkit-box-shadow: rgba(0,0,0,0.22) 0 1px 4px;
    box-shadow: rgba(0,0,0,0.22) 0 1px 4px;
    background-color: #fff;

    right: 0;

    margin-right: 12px;

    z-index: 1;

    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

.header__cabinet_enter{
    display: flex;
    align-items: center;
    height: 20px;

    opacity: 0.5;

    padding-left: 5px;
}

.header__cabinet_enter:hover{
    opacity: 1;
}

.header__cabinet_registrartion{
    display: flex;
    align-items: center;

    height: 20px;

    color: rgba(0, 0, 0, 0.5);
    border-top: #cfcfcf 1px solid;

    padding-left: 5px;
}

.header__cabinet_registrartion:hover{
    color: rgba(0, 0, 0, 1);
}

.header__cabinet_language{
    display: none;
    align-items: center;

    height: 20px;

    color: rgba(0, 0, 0, 0.5);
    border-top: #cfcfcf 1px solid;

    padding-left: 5px;
}

.language__cabinet_img-ru{
    margin-left: 5px;
}

.header__cabinet_language:hover{
    color: rgba(0, 0, 0, 1);
}






/* о нас */


.about__nav_box{
    width: 480px;
    height: 60px;

    margin: 0 auto;
}

.about__nav_circle-box{
    display: flex;
    justify-content: space-between;
    /* margin-left: 13px; */
}

.about__nav_circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.4);
    background-color: #fff;
}

.about__nav_circle1{
    margin-left: 15px;
}

.about__nav_circle3{
    margin-right: 45px;
}

.about__nav_circle:hover{
    box-shadow: 0px 0px 10px rgba(229, 60, 60, 0.4);
}

.about__nav_text-box{
    display: flex;
    justify-content: space-between;
    margin-top: 9px;

    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    opacity: 50%;
}

.about__nav_text2{
    margin-left: 20px;
}

.about__nav_text-box + .about__nav_text-box{
    margin-left: 5px;
} 

.about__nav{
    margin-top: 45px;
}




.about__history_box{
    width: 920px;
    height: 540px;

    filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.1));
    background: #FFFFFF;

    margin: 71px auto 0 auto;
    padding-top: 30px;
}

.about__history_h1_anchor{
    display: block;
}

.about__history_h1{
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;

    width: 120px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 0;
}

.about__history_text{
    width: 790px;
    height: 420px;

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: rgba(0, 0, 0, 0.5);

    margin: 0px auto 30px auto;
}

.color__text_green{
    color: rgba(19, 144, 17, 1);
}

.color__text_black{
    color: rgba(0, 0, 0, 0.7);
}







.about__recruiting_box{
    width: 920px;
    height: 400px;

    filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.1));
    background: #FFFFFF;

    margin: 90px auto 0 auto;
    padding-top: 30px;
}

.about__recruiting_h1{
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;

    width: 247px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 0;
}

about__recruiting_h1_anchor{
    display: block;
}

.about__recruiting_text{
    width: 790px;
    height: 93px;

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: rgba(0, 0, 0, 0.5);

    margin: 0px auto 30px auto;
}

.about__recruiting_circle-box{
    display: flex;
    padding-left: 95px;
    padding-right: 95px;
}

.about__recruiting_circle{
    display: flex;
    width: 160px;
    height: 160px;
    background: rgba(196, 196, 196, 0.1);
    border: 1px solid #000000;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about__recruiting_circle:hover{
    border: 1px solid #139011;
    box-shadow: 0px 0px 10px rgba(19, 144, 17, 0.4);
}

.about__recruiting_circle:hover .about__recruiting_circle-text{
    color: rgba(19, 144, 17, 1);
}

.about__recruiting_circle-link + .about__recruiting_circle-link{
    margin-left: 30px;
}

.about__recruiting_circle-text{
    font-size: 20px;
    line-height: 23px;
    
    color: rgba(0, 0, 0, 0.5);
}





.about__boosterofthemonth_box{
    width: 920px;
    height: 360px;

    filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.1));
    background: #FFFFFF;

    margin: 90px auto 90px auto;
    padding-top: 30px;
}

.about__boosterofthemonth_h1{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    width: 195px;
    height: 28px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    margin-top: 0;
}

.about__boosterofthemonth_h1_anchor{
    display: block;
}

.about__boosterofthemonth_circle-img-box{
    position: relative;
    overflow: hidden;
    width: 160px;
    height: 165px;
    border-radius: 100%;
    padding: 0px 380px 15px 340px;
}

.about__boosterofthemonth_circle-img{
    width: 160px;
    height: 165px;
    position: absolute;
    top: 35%;
    left: 65%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.about__boosterofthemonth_circle_text{
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;

    color: rgba(0, 0, 0, 0.5);
    text-align: center;

    margin-top: 15px;
}

/* медиа-запросы */


@media (max-width: 1400px) {
    .navigation{
        margin-left: 65px;
    }

    .header{
        width: 894px;
    }

    .menu__item + .menu__item {
        margin-left: 15px;
    }
    
    .language{
        margin-left: 20px;
    }

    .cart{
        margin-left: 45px;
    }

    #header__cabinet_dropdown-menu{
        margin-right: 7px;
    }
}

@media (max-width: 940px) {
    .header{
        width: 813px;
    }

    .logo__text{
        display: none;
    }

    #header__cabinet_dropdown-menu{
        margin-right: 2px;
        margin-top: 3px;
    }

    .cabinet__text{
        display: none;
    }

    .cabinet__triangl{
        margin-top: 23px;
        margin-left: 3px;

        border: 0px solid;

        height: 1px;
        width: 30px;

        background-color: #000;
    }

    .cabinet__triangl::before{
        content: '';

        display: block;

        height: 1px;
        width: 30px;

        background-color: #000;

        margin-top: 7px;
    }

    .cabinet__triangl::after{
        content: '';

        display: block;

        height: 1px;
        width: 30px;

        background-color: #000;

        margin-top: 7px;
    }

    .navigation{
        margin-left: 95px;
    }

    .menu__item + .menu__item {
        margin-left: 30px;
    }

    .cart{
        margin-left: 75px;
    }

    .cabinet__link{
        padding-bottom: 20px;
        margin-left: 36px;
    }

    #header__cabinet_dropdown-menu{
        height: 60px;
    }

    .header__cabinet_language{
        display: flex;
    }

    .language{
        display: none;
    }

    /* история ящик */
    .about__history_box{
        width: 810px;
    }

    .about__recruiting_box{
        width: 810px;
    }

    .about__recruiting_circle-box {
        display: flex;

        padding-left: 39px;
        padding-right: 39px;
    }

    .about__boosterofthemonth_box{
        width: 810px;
    }

    .about__boosterofthemonth_circle-img{
        left: 57%;
    }
}

@media (max-width: 824px) {
    .navigation{
        margin-left: 20px;
    }

    .cart{
        margin-left: 25px;
    }

    .cabinet__link{
        margin-left: 20px;
    }

    .header{
        width: 650px;
    }

    .menu__item + .menu__item{
        margin-left: 25px;
    }

    /* гарантии ящик */
    .about__history_box{
        width: 650px;
        height: 630px;
    }

    .about__recruiting_box{
        width: 650px;
    }

    .about__recruiting_circle-box {
        display: flex;

        padding-left: 9px;
        padding-right: 9px;
    }

    .about__recruiting_circle{
        width: 135px;
        height: 135px;
    }

    .about__recruiting_text{
        width: 620px;
    }

    .about__boosterofthemonth_box{
        width: 650px;
    }

    .about__boosterofthemonth_circle-img{
        left: 47%;
    }

    .about__history_text{
        width: 620px;
    }

    .about__boosterofthemonth_circle-img-box{
        width: 650px;
        padding: 0 290px;
    }
}

@media (max-width: 659px) {
    .header{
        width: 423px;
    }

    .navigation{
        position: absolute;

        margin-top: 50px;
        margin-left: 0;
    }

    .logo__text{
        display: block;
    }

    .cart{
        margin-left: 149px;
    }

    .menu__link{
        padding-bottom: 0;
        padding-top: 0;
    }

    /* гарантии ящик */

    .about__nav_box{
        width: 410px;
        margin-top: 70px;
    }

    .about__history_box{
        width: 423px;
        height: 830px;
    }

    .about__recruiting_box{
        width: 423px;
    }

    .about__recruiting_circle-box {
        display: flex;

        margin-top: 105px;

        padding-left: 9px;
        padding-right: 9px;
    }

    .about__recruiting_circle-text{
        font-size: 11px;
        font-weight: 700;
        line-height: 15px;
    }

    .about__recruiting_circle{
        width: 80px;
        height: 80px;
    }

    .about__recruiting_text{
        width: 400px;
    }

    .about__boosterofthemonth_box{
        width: 423px;
    }

    .about__boosterofthemonth_circle-img{
        left: 50%;
        border-radius: 100%;
    }

    .about__history_text{
        width: 410px;
    }

    .about__boosterofthemonth_circle-img-box{
        width: 423px;
        padding: 0;
    }
}

@media (max-width: 440px) {
    .header{
        width: 272px;
    }

    .logo__text{
        display: none;
    }

    .cart{
        margin-left: 90px;
    }

    .menu__list{
        flex-wrap: wrap;
    }

    .navigation{
        width: 250px;

        margin-left: 12px;
    }

    .menu__item + .menu__item{
        margin-left: 0;
    }

    .menu__link2{
        margin-left: 25px;
    }

    .menu__link3{
        margin-left: 25px;
    }

    .menu__link4{
        margin-left: 20px;
    }

    .menu__item4{
        margin-top: 15px;
    }

    .menu__item5{
        margin-top: 15px;
    }

    .menu__item6{
        margin-right: 20px;
        margin-top: 15px;
    }

    .menu__item:hover{
        animation: none;
    }
    
    /* гарантии ящик */
    .about__nav_box{
        width: 272px;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
    }

    .about__history_box{
        width: 272px;
        height: 1300px;
    }

    .about__recruiting_box{
        width: 272px;
        height: 500px;
    }

    .about__recruiting_circle-box {
        display: flex;

        margin-top: 0px;

        padding-left: 7px;
        padding-right: 0px;
    }

    .about__recruiting_circle-text{
        font-size: 9px;
        font-weight: 700;
        line-height: 9px;
    }

    .about__recruiting_circle{
        width: 60px;
        height: 60px;
    }

    .about__recruiting_circle-link + .about__recruiting_circle-link {
        margin-left: 6px;
    }

    .about__recruiting_text{
        width: 250px;
        height: 290px;
    }

    .about__boosterofthemonth_box{
        width: 272px;
    }
    
    .about__boosterofthemonth_circle-img-box{
        width: 272px;
        padding: 0;
        border-radius: 0;
    }

    .about__boosterofthemonth_circle-img{
        left: 50%;
        top: 50%;
        width: 320px;
        height: 320px;
    }

    .about__history_text{
        width: 250px;
    }
}